### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

# IntelliJ project files
.idea
*.iml
out
gen

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py